:root {
    --primary-color: #FFFFFF;
    --hover-color: #F26522
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.head {
    margin-top: 50px;
    display: flex;
}

/* .head-logo:hover .head-img {
    content: url(../img/logo\ 2.png);
} */

.head-logo  {
    display: flex;
    position: relative;
}

.head-logo:hover .head-img-hover {
    opacity: 1;
}


.head-img-hover {
position: absolute;
left: 0;
top: 0;
opacity: 0;
transition: 0.5s;
}

.head-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

.head-name>:first-child {
font-weight: 700;
font-size: 29px;
line-height: 29px;
color: var(--primary-color);
}

.head-name>:last-child {
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: var(--primary-color);
}

.head-logo:hover .head-name>:first-child,
.head-logo:hover .head-name>:last-child {
    color: var(--hover-color);
    transition: 0.5s;
}

.head-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}
.head-contact a{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--primary-color);
}

.head-contact a:hover {
    color: var(--hover-color);
    transition: 1s;
}

.portfolio {
margin-top: 20px;
margin-bottom: 50px;
display: grid;
grid-template-columns: repeat(3, 1fr);
row-gap: 37px;
column-gap: calc(130px/3);
justify-items: center;
}

.potfolio-items:hover .hidden-block {
    bottom: 0;
}

.potfolio-items:hover .description {
    color: var(--hover-color);
}

.cart-block {
    position: relative;
    overflow: hidden;
    border: 5px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #FFFFFF, #000);
}

.cart {
    width: 300px;
    height: 220px;
}

.description {
font-size: 18px;
line-height: 18px;
color: var(--primary-color);
margin-top: 20px;
text-align: center;
transition: 1s ease-in-out;
transition-property: color;
}



.hidden-block {
 background-color: var(--hover-color);
 padding: 7px 16px 12px;
 box-sizing: border-box;
 width: 100%;
 position: absolute;
 bottom: -100px;
 left: 0;
 transition: 1s ease-in-out;
}

.hidden-block h4 {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
    color: var(--primary-color);
    transition-property: bottom;
}
.hidden-info {
    display: flex;
    align-items: center;
    position: relative;
}

.hidden-info>:first-child {
    font-size: 20px;
    line-height: 20px;
    color: var(--primary-color);
}

.hidden-info>:nth-child(2) {
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-color);
    margin-left: auto;
    padding-right: 26px;
}

.element::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    position: absolute;
    right: 0;
    transform: translate(-50%, -50%)  rotate(45deg);
}

.copy {
font-size: 12px;
line-height: 12px;
text-align: center;
color: var(--primary-color);
margin-bottom: 15px;
}